
body{
    background-color: wheat;
}

.parent_container {
    flex-direction: row;
}

.info_box 
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)   
}

.start_button {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn-ctnr {
    display:flex;
    flex-direction: column;
}

.choices {
    display: flex;
    
}